version: 6.60.9
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - youtrack_projects
streams:
- type: DeclarativeStream
  name: youtrack_projects
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 100
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/admin/projects
      request_parameters:
        fields: id,shortName,name,description,archived,leader(id)
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - project_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - short_name
      value: '{{ record.get(''shortName'') }}'
    - type: AddedFieldDefinition
      path:
      - name
      value: '{{ record.get(''name'') }}'
    - type: AddedFieldDefinition
      path:
      - description
      value: '{{ record.get(''description'') }}'
    - type: AddedFieldDefinition
      path:
      - archived
      value: '{{ record.get(''archived'', false) }}'
    - type: AddedFieldDefinition
      path:
      - leader_id
      value: '{{ (record.get(''leader'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        project_id:
          type:
          - string
          - 'null'
        short_name:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        archived:
          type:
          - boolean
          - 'null'
        leader_id:
          type:
          - string
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_user
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 200
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/users
      request_parameters:
        fields: id,login,fullName,email,banned,guest,online,avatarUrl
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - user_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - login
      value: '{{ record.get(''login'') }}'
    - type: AddedFieldDefinition
      path:
      - full_name
      value: '{{ record.get(''fullName'') }}'
    - type: AddedFieldDefinition
      path:
      - email
      value: '{{ record.get(''email'') }}'
    - type: AddedFieldDefinition
      path:
      - banned
      value: '{{ record.get(''banned'') }}'
    - type: AddedFieldDefinition
      path:
      - guest
      value: '{{ record.get(''guest'') }}'
    - type: AddedFieldDefinition
      path:
      - online
      value: '{{ record.get(''online'') }}'
    - type: AddedFieldDefinition
      path:
      - avatar_url
      value: '{{ record.get(''avatarUrl'') }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        user_id:
          type:
          - string
          - 'null'
        login:
          type:
          - string
          - 'null'
        full_name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        banned:
          type:
          - boolean
          - 'null'
        guest:
          type:
          - boolean
          - 'null'
        online:
          type:
          - boolean
          - 'null'
        avatar_url:
          type:
          - string
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_agiles
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 100
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/agiles
      request_parameters:
        fields: id,name,owner(id),projects(id,shortName)
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - agile_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - name
      value: '{{ record.get(''name'') }}'
    - type: AddedFieldDefinition
      path:
      - owner_id
      value: '{{ (record.get(''owner'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - projects
      value: '{{ record.get(''projects'', []) | tojson }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        agile_id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        owner_id:
          type:
          - string
          - 'null'
        projects:
          type:
          - string
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_sprints
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 100
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/agiles/{{ stream_partition.agile_id }}/sprints
      request_parameters:
        fields: id,name,start,finish,archived,goal
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
      - type: ParentStreamConfig
        stream:
          type: DeclarativeStream
          name: youtrack_agiles
          primary_key:
          - unique_key
          retriever:
            type: SimpleRetriever
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path: []
            paginator:
              type: DefaultPaginator
              page_size_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $top
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $skip
              pagination_strategy:
                type: OffsetIncrement
                page_size: 100
            requester:
              type: HttpRequester
              url_base: '{{ config[''youtrack_base_url''] }}'
              http_method: GET
              authenticator:
                type: BearerAuthenticator
                api_token: '{{ config[''youtrack_token''] }}'
              error_handler:
                type: DefaultErrorHandler
                backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                  - 429
                  - 503
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                  - 401
                  - 403
              path: /api/agiles
              request_parameters:
                fields: id,name,owner(id),projects(id,shortName)
          transformations:
          - type: AddFields
            fields:
            - type: AddedFieldDefinition
              path:
              - tenant_id
              value: '{{ config[''insight_tenant_id''] }}'
            - type: AddedFieldDefinition
              path:
              - source_id
              value: '{{ config[''insight_source_id''] }}'
            - type: AddedFieldDefinition
              path:
              - unique_key
              value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - agile_id
              value: '{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - name
              value: '{{ record.get(''name'') }}'
            - type: AddedFieldDefinition
              path:
              - owner_id
              value: '{{ (record.get(''owner'') or {}).get(''id'') }}'
            - type: AddedFieldDefinition
              path:
              - projects
              value: '{{ record.get(''projects'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - collected_at
              value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
          schema_loader:
            type: InlineSchemaLoader
            schema:
              type: object
              $schema: http://json-schema.org/schema#
              properties:
                unique_key:
                  type:
                  - string
                  - 'null'
                tenant_id:
                  type:
                  - string
                  - 'null'
                source_id:
                  type:
                  - string
                  - 'null'
                agile_id:
                  type:
                  - string
                  - 'null'
                name:
                  type:
                  - string
                  - 'null'
                owner_id:
                  type:
                  - string
                  - 'null'
                projects:
                  type:
                  - string
                  - 'null'
                collected_at:
                  type:
                  - string
                  - 'null'
              required:
              - unique_key
              - tenant_id
              - source_id
              additionalProperties: true
        parent_key: agile_id
        partition_field: agile_id
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - sprint_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - agile_id
      value: '{{ stream_partition.agile_id }}'
    - type: AddedFieldDefinition
      path:
      - sprint_name
      value: '{{ record.get(''name'') }}'
    - type: AddedFieldDefinition
      path:
      - start_date
      value: '{{ record.get(''start'') }}'
    - type: AddedFieldDefinition
      path:
      - finish_date
      value: '{{ record.get(''finish'') }}'
    - type: AddedFieldDefinition
      path:
      - archived
      value: '{{ record.get(''archived'') }}'
    - type: AddedFieldDefinition
      path:
      - goal
      value: '{{ record.get(''goal'') }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        sprint_id:
          type:
          - string
          - 'null'
        agile_id:
          type:
          - string
          - 'null'
        sprint_name:
          type:
          - string
          - 'null'
        start_date:
          type:
          - integer
          - 'null'
        finish_date:
          type:
          - integer
          - 'null'
        archived:
          type:
          - boolean
          - 'null'
        goal:
          type:
          - string
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_issue_link_types
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 100
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/issueLinkTypes
      request_parameters:
        fields: id,name,sourceToTarget,targetToSource,directed,aggregation,readOnly
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - link_type_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - name
      value: '{{ record.get(''name'') }}'
    - type: AddedFieldDefinition
      path:
      - source_to_target
      value: '{{ record.get(''sourceToTarget'') }}'
    - type: AddedFieldDefinition
      path:
      - target_to_source
      value: '{{ record.get(''targetToSource'') }}'
    - type: AddedFieldDefinition
      path:
      - directed
      value: '{{ record.get(''directed'') }}'
    - type: AddedFieldDefinition
      path:
      - aggregation
      value: '{{ record.get(''aggregation'') }}'
    - type: AddedFieldDefinition
      path:
      - read_only
      value: '{{ record.get(''readOnly'') }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        link_type_id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        source_to_target:
          type:
          - string
          - 'null'
        target_to_source:
          type:
          - string
          - 'null'
        directed:
          type:
          - boolean
          - 'null'
        aggregation:
          type:
          - boolean
          - 'null'
        read_only:
          type:
          - boolean
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_issue
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 100
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/issues
      request_parameters:
        query: 'updated: {{ stream_slice.start_time }} .. {{ stream_slice.end_time }} sort by: updated asc'
        fields: id,idReadable,summary,description,resolved,created,updated,project(id,shortName),reporter(id,login,fullName,email),tags(id,name),attachments(id,name,url,mimeType),links(id,direction,linkType(id,name,sourceToTarget,targetToSource),trimmedIssues(id,idReadable)),customFields(id,name,projectCustomField(id,field(id,name,localizedName,fieldType(id,valueType,isMultiValue))),value(id,name,fullName,login,presentation,localizedName,text,minutes,description,color(presentation)))
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: updated
    cursor_datetime_formats:
    - '%ms'
    - '%Y-%m-%dT%H:%M:%S'
    datetime_format: '%Y-%m-%dT%H:%M:%S'
    start_datetime:
      type: MinMaxDatetime
      datetime: '{{ config.get(''youtrack_start_date'', ''2020-01-01'') }}T00:00:00'
      datetime_format: '%Y-%m-%dT%H:%M:%S'
    end_datetime:
      type: MinMaxDatetime
      datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S'') }}'
      datetime_format: '%Y-%m-%dT%H:%M:%S'
    cursor_granularity: PT1S
    step: P30D
    lookback_window: PT1H
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - youtrack_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - id_readable
      value: '{{ record.get(''idReadable'') }}'
    - type: AddedFieldDefinition
      path:
      - project_short_name
      value: '{{ (record.get(''project'') or {}).get(''shortName'') }}'
    - type: AddedFieldDefinition
      path:
      - summary
      value: '{{ record.get(''summary'') }}'
    - type: AddedFieldDefinition
      path:
      - description
      value: '{{ record.get(''description'') }}'
    - type: AddedFieldDefinition
      path:
      - reporter_id
      value: '{{ (record.get(''reporter'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - reporter_login
      value: '{{ (record.get(''reporter'') or {}).get(''login'') }}'
    - type: AddedFieldDefinition
      path:
      - reporter_email
      value: '{{ (record.get(''reporter'') or {}).get(''email'') }}'
    - type: AddedFieldDefinition
      path:
      - created
      value: '{{ record.get(''created'') }}'
    - type: AddedFieldDefinition
      path:
      - updated
      value: '{{ record.get(''updated'') }}'
    - type: AddedFieldDefinition
      path:
      - resolved
      value: '{{ record.get(''resolved'') }}'
    - type: AddedFieldDefinition
      path:
      - tags_json
      value: '{{ record.get(''tags'', []) | tojson }}'
    - type: AddedFieldDefinition
      path:
      - attachments_json
      value: '{{ record.get(''attachments'', []) | tojson }}'
    - type: AddedFieldDefinition
      path:
      - links_json
      value: '{{ record.get(''links'', []) | tojson }}'
    - type: AddedFieldDefinition
      path:
      - custom_fields_json
      value: '{{ record.get(''customFields'', []) | tojson }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        youtrack_id:
          type:
          - string
          - 'null'
        id_readable:
          type:
          - string
          - 'null'
        project_short_name:
          type:
          - string
          - 'null'
        summary:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        reporter_id:
          type:
          - string
          - 'null'
        reporter_login:
          type:
          - string
          - 'null'
        reporter_email:
          type:
          - string
          - 'null'
        created:
          type:
          - integer
          - 'null'
        updated:
          type:
          - integer
          - 'null'
        resolved:
          type:
          - integer
          - 'null'
        tags_json:
          type:
          - string
          - 'null'
        attachments_json:
          type:
          - string
          - 'null'
        links_json:
          type:
          - string
          - 'null'
        custom_fields_json:
          type:
          - string
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_issue_history
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - activities
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: cursor
      pagination_strategy:
        type: CursorPagination
        page_size: 200
        cursor_value: '{{ response.get(''afterCursor'', '''') }}'
        stop_condition: '{{ not response.get(''hasAfter'') }}'
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/issues/{{ stream_partition.id_readable }}/activitiesPage
      request_parameters:
        fields: afterCursor,hasAfter,activities($type,id,timestamp,category(id,localizedName),targetMember,author(id,login,fullName),field($type,id,presentation,customField(id,fieldType(id,valueType,isMultiValue))),added,removed)
        categories: IssueCreatedCategory,SummaryCategory,DescriptionCategory,ProjectCategory,AttachmentsCategory,AttachmentRenameCategory,IssueResolvedCategory,IssueVisibilityCategory,TicketCCEventCategory,IssueDeletedCategory,IssueRestoredCategory,CommentsCategory,CustomFieldCategory,SprintCategory,TagsCategory,LinksCategory,VotersCategory,TotalVotesCategory,VcsChangeCategory,CommentAttachmentsCategory,CommentVisibilityCategory,CommentTextCategory,AttachmentVisibilityCategory
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
      - type: ParentStreamConfig
        stream:
          type: DeclarativeStream
          name: youtrack_issue
          primary_key:
          - unique_key
          retriever:
            type: SimpleRetriever
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path: []
            paginator:
              type: DefaultPaginator
              page_size_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $top
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $skip
              pagination_strategy:
                type: OffsetIncrement
                page_size: 100
            requester:
              type: HttpRequester
              url_base: '{{ config[''youtrack_base_url''] }}'
              http_method: GET
              authenticator:
                type: BearerAuthenticator
                api_token: '{{ config[''youtrack_token''] }}'
              error_handler:
                type: DefaultErrorHandler
                backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                  - 429
                  - 503
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                  - 401
                  - 403
              path: /api/issues
              request_parameters:
                query: 'updated: {{ stream_slice.start_time }} .. {{ stream_slice.end_time }} sort by: updated asc'
                fields: id,idReadable,summary,description,resolved,created,updated,project(id,shortName),reporter(id,login,fullName,email),tags(id,name),attachments(id,name,url,mimeType),links(id,direction,linkType(id,name,sourceToTarget,targetToSource),trimmedIssues(id,idReadable)),customFields(id,name,projectCustomField(id,field(id,name,localizedName,fieldType(id,valueType,isMultiValue))),value(id,name,fullName,login,presentation,localizedName,text,minutes,description,color(presentation)))
          incremental_sync:
            type: DatetimeBasedCursor
            cursor_field: updated
            cursor_datetime_formats:
            - '%ms'
            - '%Y-%m-%dT%H:%M:%S'
            datetime_format: '%Y-%m-%dT%H:%M:%S'
            start_datetime:
              type: MinMaxDatetime
              datetime: '{{ config.get(''youtrack_start_date'', ''2020-01-01'') }}T00:00:00'
              datetime_format: '%Y-%m-%dT%H:%M:%S'
            end_datetime:
              type: MinMaxDatetime
              datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S'') }}'
              datetime_format: '%Y-%m-%dT%H:%M:%S'
            cursor_granularity: PT1S
            step: P30D
            lookback_window: PT1H
          transformations:
          - type: AddFields
            fields:
            - type: AddedFieldDefinition
              path:
              - tenant_id
              value: '{{ config[''insight_tenant_id''] }}'
            - type: AddedFieldDefinition
              path:
              - source_id
              value: '{{ config[''insight_source_id''] }}'
            - type: AddedFieldDefinition
              path:
              - unique_key
              value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - youtrack_id
              value: '{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - id_readable
              value: '{{ record.get(''idReadable'') }}'
            - type: AddedFieldDefinition
              path:
              - project_short_name
              value: '{{ (record.get(''project'') or {}).get(''shortName'') }}'
            - type: AddedFieldDefinition
              path:
              - summary
              value: '{{ record.get(''summary'') }}'
            - type: AddedFieldDefinition
              path:
              - description
              value: '{{ record.get(''description'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_id
              value: '{{ (record.get(''reporter'') or {}).get(''id'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_login
              value: '{{ (record.get(''reporter'') or {}).get(''login'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_email
              value: '{{ (record.get(''reporter'') or {}).get(''email'') }}'
            - type: AddedFieldDefinition
              path:
              - created
              value: '{{ record.get(''created'') }}'
            - type: AddedFieldDefinition
              path:
              - updated
              value: '{{ record.get(''updated'') }}'
            - type: AddedFieldDefinition
              path:
              - resolved
              value: '{{ record.get(''resolved'') }}'
            - type: AddedFieldDefinition
              path:
              - tags_json
              value: '{{ record.get(''tags'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - attachments_json
              value: '{{ record.get(''attachments'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - links_json
              value: '{{ record.get(''links'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - custom_fields_json
              value: '{{ record.get(''customFields'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - collected_at
              value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
          schema_loader:
            type: InlineSchemaLoader
            schema:
              type: object
              $schema: http://json-schema.org/schema#
              properties:
                unique_key:
                  type:
                  - string
                  - 'null'
                tenant_id:
                  type:
                  - string
                  - 'null'
                source_id:
                  type:
                  - string
                  - 'null'
                youtrack_id:
                  type:
                  - string
                  - 'null'
                id_readable:
                  type:
                  - string
                  - 'null'
                project_short_name:
                  type:
                  - string
                  - 'null'
                summary:
                  type:
                  - string
                  - 'null'
                description:
                  type:
                  - string
                  - 'null'
                reporter_id:
                  type:
                  - string
                  - 'null'
                reporter_login:
                  type:
                  - string
                  - 'null'
                reporter_email:
                  type:
                  - string
                  - 'null'
                created:
                  type:
                  - integer
                  - 'null'
                updated:
                  type:
                  - integer
                  - 'null'
                resolved:
                  type:
                  - integer
                  - 'null'
                tags_json:
                  type:
                  - string
                  - 'null'
                attachments_json:
                  type:
                  - string
                  - 'null'
                links_json:
                  type:
                  - string
                  - 'null'
                custom_fields_json:
                  type:
                  - string
                  - 'null'
                collected_at:
                  type:
                  - string
                  - 'null'
              required:
              - unique_key
              - tenant_id
              - source_id
              additionalProperties: true
        parent_key: id_readable
        partition_field: id_readable
        incremental_dependency: true
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - activity_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - activity_type
      value: '{{ record.get(''$type'') }}'
    - type: AddedFieldDefinition
      path:
      - id_readable
      value: '{{ stream_partition.id_readable }}'
    - type: AddedFieldDefinition
      path:
      - category_id
      value: '{{ (record.get(''category'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - category_name
      value: '{{ (record.get(''category'') or {}).get(''localizedName'') }}'
    - type: AddedFieldDefinition
      path:
      - author_id
      value: '{{ (record.get(''author'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - author_login
      value: '{{ (record.get(''author'') or {}).get(''login'') }}'
    - type: AddedFieldDefinition
      path:
      - field_id
      value: '{{ (record.get(''field'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - field_custom_id
      value: '{{ ((record.get(''field'') or {}).get(''customField'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - field_value_type
      value: '{{ (((record.get(''field'') or {}).get(''customField'') or {}).get(''fieldType'') or {}).get(''valueType'') }}'
    - type: AddedFieldDefinition
      path:
      - field_is_multi_value
      value: '{{ (((record.get(''field'') or {}).get(''customField'') or {}).get(''fieldType'') or {}).get(''isMultiValue'') }}'
    - type: AddedFieldDefinition
      path:
      - field_presentation
      value: '{{ (record.get(''field'') or {}).get(''presentation'') }}'
    - type: AddedFieldDefinition
      path:
      - target_member
      value: '{{ record.get(''targetMember'') }}'
    - type: AddedFieldDefinition
      path:
      - added_json
      value: '{{ record.get(''added'') | tojson }}'
    - type: AddedFieldDefinition
      path:
      - removed_json
      value: '{{ record.get(''removed'') | tojson }}'
    - type: AddedFieldDefinition
      path:
      - timestamp
      value: '{{ record.get(''timestamp'') }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        activity_id:
          type:
          - string
          - 'null'
        activity_type:
          type:
          - string
          - 'null'
        id_readable:
          type:
          - string
          - 'null'
        category_id:
          type:
          - string
          - 'null'
        category_name:
          type:
          - string
          - 'null'
        author_id:
          type:
          - string
          - 'null'
        author_login:
          type:
          - string
          - 'null'
        field_id:
          type:
          - string
          - 'null'
        field_custom_id:
          type:
          - string
          - 'null'
        field_value_type:
          type:
          - string
          - 'null'
        field_is_multi_value:
          type:
          - boolean
          - 'null'
        field_presentation:
          type:
          - string
          - 'null'
        target_member:
          type:
          - string
          - 'null'
        added_json:
          type:
          - string
          - 'null'
        removed_json:
          type:
          - string
          - 'null'
        timestamp:
          type:
          - integer
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_comments
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 100
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/issues/{{ stream_partition.id_readable }}/comments
      request_parameters:
        fields: id,text,textPreview,created,updated,author(id,login,fullName,email),deleted
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
      - type: ParentStreamConfig
        stream:
          type: DeclarativeStream
          name: youtrack_issue
          primary_key:
          - unique_key
          retriever:
            type: SimpleRetriever
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path: []
            paginator:
              type: DefaultPaginator
              page_size_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $top
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $skip
              pagination_strategy:
                type: OffsetIncrement
                page_size: 100
            requester:
              type: HttpRequester
              url_base: '{{ config[''youtrack_base_url''] }}'
              http_method: GET
              authenticator:
                type: BearerAuthenticator
                api_token: '{{ config[''youtrack_token''] }}'
              error_handler:
                type: DefaultErrorHandler
                backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                  - 429
                  - 503
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                  - 401
                  - 403
              path: /api/issues
              request_parameters:
                query: 'updated: {{ stream_slice.start_time }} .. {{ stream_slice.end_time }} sort by: updated asc'
                fields: id,idReadable,summary,description,resolved,created,updated,project(id,shortName),reporter(id,login,fullName,email),tags(id,name),attachments(id,name,url,mimeType),links(id,direction,linkType(id,name,sourceToTarget,targetToSource),trimmedIssues(id,idReadable)),customFields(id,name,projectCustomField(id,field(id,name,localizedName,fieldType(id,valueType,isMultiValue))),value(id,name,fullName,login,presentation,localizedName,text,minutes,description,color(presentation)))
          incremental_sync:
            type: DatetimeBasedCursor
            cursor_field: updated
            cursor_datetime_formats:
            - '%ms'
            - '%Y-%m-%dT%H:%M:%S'
            datetime_format: '%Y-%m-%dT%H:%M:%S'
            start_datetime:
              type: MinMaxDatetime
              datetime: '{{ config.get(''youtrack_start_date'', ''2020-01-01'') }}T00:00:00'
              datetime_format: '%Y-%m-%dT%H:%M:%S'
            end_datetime:
              type: MinMaxDatetime
              datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S'') }}'
              datetime_format: '%Y-%m-%dT%H:%M:%S'
            cursor_granularity: PT1S
            step: P30D
            lookback_window: PT1H
          transformations:
          - type: AddFields
            fields:
            - type: AddedFieldDefinition
              path:
              - tenant_id
              value: '{{ config[''insight_tenant_id''] }}'
            - type: AddedFieldDefinition
              path:
              - source_id
              value: '{{ config[''insight_source_id''] }}'
            - type: AddedFieldDefinition
              path:
              - unique_key
              value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - youtrack_id
              value: '{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - id_readable
              value: '{{ record.get(''idReadable'') }}'
            - type: AddedFieldDefinition
              path:
              - project_short_name
              value: '{{ (record.get(''project'') or {}).get(''shortName'') }}'
            - type: AddedFieldDefinition
              path:
              - summary
              value: '{{ record.get(''summary'') }}'
            - type: AddedFieldDefinition
              path:
              - description
              value: '{{ record.get(''description'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_id
              value: '{{ (record.get(''reporter'') or {}).get(''id'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_login
              value: '{{ (record.get(''reporter'') or {}).get(''login'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_email
              value: '{{ (record.get(''reporter'') or {}).get(''email'') }}'
            - type: AddedFieldDefinition
              path:
              - created
              value: '{{ record.get(''created'') }}'
            - type: AddedFieldDefinition
              path:
              - updated
              value: '{{ record.get(''updated'') }}'
            - type: AddedFieldDefinition
              path:
              - resolved
              value: '{{ record.get(''resolved'') }}'
            - type: AddedFieldDefinition
              path:
              - tags_json
              value: '{{ record.get(''tags'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - attachments_json
              value: '{{ record.get(''attachments'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - links_json
              value: '{{ record.get(''links'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - custom_fields_json
              value: '{{ record.get(''customFields'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - collected_at
              value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
          schema_loader:
            type: InlineSchemaLoader
            schema:
              type: object
              $schema: http://json-schema.org/schema#
              properties:
                unique_key:
                  type:
                  - string
                  - 'null'
                tenant_id:
                  type:
                  - string
                  - 'null'
                source_id:
                  type:
                  - string
                  - 'null'
                youtrack_id:
                  type:
                  - string
                  - 'null'
                id_readable:
                  type:
                  - string
                  - 'null'
                project_short_name:
                  type:
                  - string
                  - 'null'
                summary:
                  type:
                  - string
                  - 'null'
                description:
                  type:
                  - string
                  - 'null'
                reporter_id:
                  type:
                  - string
                  - 'null'
                reporter_login:
                  type:
                  - string
                  - 'null'
                reporter_email:
                  type:
                  - string
                  - 'null'
                created:
                  type:
                  - integer
                  - 'null'
                updated:
                  type:
                  - integer
                  - 'null'
                resolved:
                  type:
                  - integer
                  - 'null'
                tags_json:
                  type:
                  - string
                  - 'null'
                attachments_json:
                  type:
                  - string
                  - 'null'
                links_json:
                  type:
                  - string
                  - 'null'
                custom_fields_json:
                  type:
                  - string
                  - 'null'
                collected_at:
                  type:
                  - string
                  - 'null'
              required:
              - unique_key
              - tenant_id
              - source_id
              additionalProperties: true
        parent_key: id_readable
        partition_field: id_readable
        incremental_dependency: true
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - comment_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - id_readable
      value: '{{ stream_partition.id_readable }}'
    - type: AddedFieldDefinition
      path:
      - author_id
      value: '{{ (record.get(''author'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - author_login
      value: '{{ (record.get(''author'') or {}).get(''login'') }}'
    - type: AddedFieldDefinition
      path:
      - author_email
      value: '{{ (record.get(''author'') or {}).get(''email'') }}'
    - type: AddedFieldDefinition
      path:
      - text
      value: '{{ record.get(''text'') }}'
    - type: AddedFieldDefinition
      path:
      - text_preview
      value: '{{ record.get(''textPreview'') }}'
    - type: AddedFieldDefinition
      path:
      - created
      value: '{{ record.get(''created'') }}'
    - type: AddedFieldDefinition
      path:
      - updated
      value: '{{ record.get(''updated'') }}'
    - type: AddedFieldDefinition
      path:
      - deleted
      value: '{{ record.get(''deleted'') }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        comment_id:
          type:
          - string
          - 'null'
        id_readable:
          type:
          - string
          - 'null'
        author_id:
          type:
          - string
          - 'null'
        author_login:
          type:
          - string
          - 'null'
        author_email:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        text_preview:
          type:
          - string
          - 'null'
        created:
          type:
          - integer
          - 'null'
        updated:
          type:
          - integer
          - 'null'
        deleted:
          type:
          - boolean
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_worklogs
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 100
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/issues/{{ stream_partition.id_readable }}/timeTracking/workItems
      request_parameters:
        fields: id,author(id,login,fullName,email),creator(id),date,duration(minutes),text,type(id,name)
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
      - type: ParentStreamConfig
        stream:
          type: DeclarativeStream
          name: youtrack_issue
          primary_key:
          - unique_key
          retriever:
            type: SimpleRetriever
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path: []
            paginator:
              type: DefaultPaginator
              page_size_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $top
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $skip
              pagination_strategy:
                type: OffsetIncrement
                page_size: 100
            requester:
              type: HttpRequester
              url_base: '{{ config[''youtrack_base_url''] }}'
              http_method: GET
              authenticator:
                type: BearerAuthenticator
                api_token: '{{ config[''youtrack_token''] }}'
              error_handler:
                type: DefaultErrorHandler
                backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                  - 429
                  - 503
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                  - 401
                  - 403
              path: /api/issues
              request_parameters:
                query: 'updated: {{ stream_slice.start_time }} .. {{ stream_slice.end_time }} sort by: updated asc'
                fields: id,idReadable,summary,description,resolved,created,updated,project(id,shortName),reporter(id,login,fullName,email),tags(id,name),attachments(id,name,url,mimeType),links(id,direction,linkType(id,name,sourceToTarget,targetToSource),trimmedIssues(id,idReadable)),customFields(id,name,projectCustomField(id,field(id,name,localizedName,fieldType(id,valueType,isMultiValue))),value(id,name,fullName,login,presentation,localizedName,text,minutes,description,color(presentation)))
          incremental_sync:
            type: DatetimeBasedCursor
            cursor_field: updated
            cursor_datetime_formats:
            - '%ms'
            - '%Y-%m-%dT%H:%M:%S'
            datetime_format: '%Y-%m-%dT%H:%M:%S'
            start_datetime:
              type: MinMaxDatetime
              datetime: '{{ config.get(''youtrack_start_date'', ''2020-01-01'') }}T00:00:00'
              datetime_format: '%Y-%m-%dT%H:%M:%S'
            end_datetime:
              type: MinMaxDatetime
              datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S'') }}'
              datetime_format: '%Y-%m-%dT%H:%M:%S'
            cursor_granularity: PT1S
            step: P30D
            lookback_window: PT1H
          transformations:
          - type: AddFields
            fields:
            - type: AddedFieldDefinition
              path:
              - tenant_id
              value: '{{ config[''insight_tenant_id''] }}'
            - type: AddedFieldDefinition
              path:
              - source_id
              value: '{{ config[''insight_source_id''] }}'
            - type: AddedFieldDefinition
              path:
              - unique_key
              value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - youtrack_id
              value: '{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - id_readable
              value: '{{ record.get(''idReadable'') }}'
            - type: AddedFieldDefinition
              path:
              - project_short_name
              value: '{{ (record.get(''project'') or {}).get(''shortName'') }}'
            - type: AddedFieldDefinition
              path:
              - summary
              value: '{{ record.get(''summary'') }}'
            - type: AddedFieldDefinition
              path:
              - description
              value: '{{ record.get(''description'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_id
              value: '{{ (record.get(''reporter'') or {}).get(''id'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_login
              value: '{{ (record.get(''reporter'') or {}).get(''login'') }}'
            - type: AddedFieldDefinition
              path:
              - reporter_email
              value: '{{ (record.get(''reporter'') or {}).get(''email'') }}'
            - type: AddedFieldDefinition
              path:
              - created
              value: '{{ record.get(''created'') }}'
            - type: AddedFieldDefinition
              path:
              - updated
              value: '{{ record.get(''updated'') }}'
            - type: AddedFieldDefinition
              path:
              - resolved
              value: '{{ record.get(''resolved'') }}'
            - type: AddedFieldDefinition
              path:
              - tags_json
              value: '{{ record.get(''tags'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - attachments_json
              value: '{{ record.get(''attachments'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - links_json
              value: '{{ record.get(''links'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - custom_fields_json
              value: '{{ record.get(''customFields'', []) | tojson }}'
            - type: AddedFieldDefinition
              path:
              - collected_at
              value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
          schema_loader:
            type: InlineSchemaLoader
            schema:
              type: object
              $schema: http://json-schema.org/schema#
              properties:
                unique_key:
                  type:
                  - string
                  - 'null'
                tenant_id:
                  type:
                  - string
                  - 'null'
                source_id:
                  type:
                  - string
                  - 'null'
                youtrack_id:
                  type:
                  - string
                  - 'null'
                id_readable:
                  type:
                  - string
                  - 'null'
                project_short_name:
                  type:
                  - string
                  - 'null'
                summary:
                  type:
                  - string
                  - 'null'
                description:
                  type:
                  - string
                  - 'null'
                reporter_id:
                  type:
                  - string
                  - 'null'
                reporter_login:
                  type:
                  - string
                  - 'null'
                reporter_email:
                  type:
                  - string
                  - 'null'
                created:
                  type:
                  - integer
                  - 'null'
                updated:
                  type:
                  - integer
                  - 'null'
                resolved:
                  type:
                  - integer
                  - 'null'
                tags_json:
                  type:
                  - string
                  - 'null'
                attachments_json:
                  type:
                  - string
                  - 'null'
                links_json:
                  type:
                  - string
                  - 'null'
                custom_fields_json:
                  type:
                  - string
                  - 'null'
                collected_at:
                  type:
                  - string
                  - 'null'
              required:
              - unique_key
              - tenant_id
              - source_id
              additionalProperties: true
        parent_key: id_readable
        partition_field: id_readable
        incremental_dependency: true
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - worklog_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - id_readable
      value: '{{ stream_partition.id_readable }}'
    - type: AddedFieldDefinition
      path:
      - author_id
      value: '{{ (record.get(''author'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - author_login
      value: '{{ (record.get(''author'') or {}).get(''login'') }}'
    - type: AddedFieldDefinition
      path:
      - author_email
      value: '{{ (record.get(''author'') or {}).get(''email'') }}'
    - type: AddedFieldDefinition
      path:
      - creator_id
      value: '{{ (record.get(''creator'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - date
      value: '{{ record.get(''date'') }}'
    - type: AddedFieldDefinition
      path:
      - duration_minutes
      value: '{{ (record.get(''duration'') or {}).get(''minutes'') }}'
    - type: AddedFieldDefinition
      path:
      - text
      value: '{{ record.get(''text'') }}'
    - type: AddedFieldDefinition
      path:
      - work_type_id
      value: '{{ (record.get(''type'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - work_type_name
      value: '{{ (record.get(''type'') or {}).get(''name'') }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        worklog_id:
          type:
          - string
          - 'null'
        id_readable:
          type:
          - string
          - 'null'
        author_id:
          type:
          - string
          - 'null'
        author_login:
          type:
          - string
          - 'null'
        author_email:
          type:
          - string
          - 'null'
        creator_id:
          type:
          - string
          - 'null'
        date:
          type:
          - integer
          - 'null'
        duration_minutes:
          type:
          - integer
          - 'null'
        text:
          type:
          - string
          - 'null'
        work_type_id:
          type:
          - string
          - 'null'
        work_type_name:
          type:
          - string
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
- type: DeclarativeStream
  name: youtrack_project_custom_fields
  primary_key:
  - unique_key
  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $top
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: $skip
      pagination_strategy:
        type: OffsetIncrement
        page_size: 100
    requester:
      type: HttpRequester
      url_base: '{{ config[''youtrack_base_url''] }}'
      http_method: GET
      authenticator:
        type: BearerAuthenticator
        api_token: '{{ config[''youtrack_token''] }}'
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
          - 429
          - 503
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
      path: /api/admin/projects/{{ stream_partition.project_id }}/customFields
      request_parameters:
        fields: id,field(id,name,localizedName,fieldType(id,valueType,isMultiValue)),bundle(id,values(id,name,description,archived,color(id,presentation),ordinal)),canBeEmpty,ordinal,emptyFieldText,isPublic
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
      - type: ParentStreamConfig
        stream:
          type: DeclarativeStream
          name: youtrack_projects
          primary_key:
          - unique_key
          retriever:
            type: SimpleRetriever
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path: []
            paginator:
              type: DefaultPaginator
              page_size_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $top
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: $skip
              pagination_strategy:
                type: OffsetIncrement
                page_size: 100
            requester:
              type: HttpRequester
              url_base: '{{ config[''youtrack_base_url''] }}'
              http_method: GET
              authenticator:
                type: BearerAuthenticator
                api_token: '{{ config[''youtrack_token''] }}'
              error_handler:
                type: DefaultErrorHandler
                backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                  - 429
                  - 503
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                  - 401
                  - 403
              path: /api/admin/projects
              request_parameters:
                fields: id,shortName,name,description,archived,leader(id)
          transformations:
          - type: AddFields
            fields:
            - type: AddedFieldDefinition
              path:
              - tenant_id
              value: '{{ config[''insight_tenant_id''] }}'
            - type: AddedFieldDefinition
              path:
              - source_id
              value: '{{ config[''insight_source_id''] }}'
            - type: AddedFieldDefinition
              path:
              - unique_key
              value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - project_id
              value: '{{ record[''id''] }}'
            - type: AddedFieldDefinition
              path:
              - short_name
              value: '{{ record.get(''shortName'') }}'
            - type: AddedFieldDefinition
              path:
              - name
              value: '{{ record.get(''name'') }}'
            - type: AddedFieldDefinition
              path:
              - description
              value: '{{ record.get(''description'') }}'
            - type: AddedFieldDefinition
              path:
              - archived
              value: '{{ record.get(''archived'', false) }}'
            - type: AddedFieldDefinition
              path:
              - leader_id
              value: '{{ (record.get(''leader'') or {}).get(''id'') }}'
            - type: AddedFieldDefinition
              path:
              - collected_at
              value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
          schema_loader:
            type: InlineSchemaLoader
            schema:
              type: object
              $schema: http://json-schema.org/schema#
              properties:
                unique_key:
                  type:
                  - string
                  - 'null'
                tenant_id:
                  type:
                  - string
                  - 'null'
                source_id:
                  type:
                  - string
                  - 'null'
                project_id:
                  type:
                  - string
                  - 'null'
                short_name:
                  type:
                  - string
                  - 'null'
                name:
                  type:
                  - string
                  - 'null'
                description:
                  type:
                  - string
                  - 'null'
                archived:
                  type:
                  - boolean
                  - 'null'
                leader_id:
                  type:
                  - string
                  - 'null'
                collected_at:
                  type:
                  - string
                  - 'null'
              required:
              - unique_key
              - tenant_id
              - source_id
              additionalProperties: true
        parent_key: project_id
        partition_field: project_id
  transformations:
  - type: AddFields
    fields:
    - type: AddedFieldDefinition
      path:
      - tenant_id
      value: '{{ config[''insight_tenant_id''] }}'
    - type: AddedFieldDefinition
      path:
      - source_id
      value: '{{ config[''insight_source_id''] }}'
    - type: AddedFieldDefinition
      path:
      - unique_key
      value: '{{ config[''insight_tenant_id''] }}-{{ config[''insight_source_id''] }}-{{ stream_partition.project_id }}-{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - project_id
      value: '{{ stream_partition.project_id }}'
    - type: AddedFieldDefinition
      path:
      - project_custom_field_id
      value: '{{ record[''id''] }}'
    - type: AddedFieldDefinition
      path:
      - field_id
      value: '{{ (record.get(''field'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - field_name
      value: '{{ (record.get(''field'') or {}).get(''name'') }}'
    - type: AddedFieldDefinition
      path:
      - field_localized_name
      value: '{{ (record.get(''field'') or {}).get(''localizedName'') }}'
    - type: AddedFieldDefinition
      path:
      - field_type_id
      value: '{{ ((record.get(''field'') or {}).get(''fieldType'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - value_type
      value: '{{ ((record.get(''field'') or {}).get(''fieldType'') or {}).get(''valueType'') }}'
    - type: AddedFieldDefinition
      path:
      - is_multi_value
      value: '{{ ((record.get(''field'') or {}).get(''fieldType'') or {}).get(''isMultiValue'') }}'
    - type: AddedFieldDefinition
      path:
      - can_be_empty
      value: '{{ record.get(''canBeEmpty'') }}'
    - type: AddedFieldDefinition
      path:
      - empty_field_text
      value: '{{ record.get(''emptyFieldText'') }}'
    - type: AddedFieldDefinition
      path:
      - ordinal
      value: '{{ record.get(''ordinal'') }}'
    - type: AddedFieldDefinition
      path:
      - is_public
      value: '{{ record.get(''isPublic'') }}'
    - type: AddedFieldDefinition
      path:
      - bundle_id
      value: '{{ (record.get(''bundle'') or {}).get(''id'') }}'
    - type: AddedFieldDefinition
      path:
      - bundle_values_json
      value: '{{ (record.get(''bundle'') or {}).get(''values'', []) | tojson if record.get(''bundle'') else ''[]'' }}'
    - type: AddedFieldDefinition
      path:
      - collected_at
      value: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%S.%f'')[:-3] + ''Z'' }}'
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      $schema: http://json-schema.org/schema#
      properties:
        unique_key:
          type:
          - string
          - 'null'
        tenant_id:
          type:
          - string
          - 'null'
        source_id:
          type:
          - string
          - 'null'
        project_id:
          type:
          - string
          - 'null'
        project_custom_field_id:
          type:
          - string
          - 'null'
        field_id:
          type:
          - string
          - 'null'
        field_name:
          type:
          - string
          - 'null'
        field_localized_name:
          type:
          - string
          - 'null'
        field_type_id:
          type:
          - string
          - 'null'
        value_type:
          type:
          - string
          - 'null'
        is_multi_value:
          type:
          - boolean
          - 'null'
        can_be_empty:
          type:
          - boolean
          - 'null'
        empty_field_text:
          type:
          - string
          - 'null'
        ordinal:
          type:
          - integer
          - 'null'
        is_public:
          type:
          - boolean
          - 'null'
        bundle_id:
          type:
          - string
          - 'null'
        bundle_values_json:
          type:
          - string
          - 'null'
        collected_at:
          type:
          - string
          - 'null'
      required:
      - unique_key
      - tenant_id
      - source_id
      additionalProperties: true
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
    - youtrack_base_url
    - youtrack_token
    - insight_tenant_id
    - insight_source_id
    properties:
      youtrack_base_url:
        type: string
        title: YouTrack Base URL
        description: 'YouTrack base URL (no trailing slash). Cloud example: https://myorg.youtrack.cloud. Self-hosted example: https://youtrack.myorg.local'
        order: 0
      youtrack_token:
        type: string
        title: YouTrack Permanent Token
        description: "Bearer token (Profile \u2192 Account Security \u2192 Tokens). Must grant read access to every project the service account can see and to /api/admin/projects/{id}/customFields."
        airbyte_secret: true
        order: 1
      insight_tenant_id:
        type: string
        title: Insights Tenant ID
        description: Tenant isolation identifier for the ingestion layer.
        order: 2
      insight_source_id:
        type: string
        title: Source Instance ID
        description: Instance discriminator (e.g. youtrack-main).
        order: 3
      youtrack_start_date:
        type: string
        title: Start Date
        description: Earliest issue `updated` timestamp to sync from (YYYY-MM-DD). Default 2020-01-01. Applied by the incremental issue stream (added in feature 2.3).
        default: '2020-01-01'
        order: 4
      youtrack_page_size:
        type: integer
        title: Issue Page Size
        description: Page size ($top) for the issue search stream (feature 2.3). Default 100, range 1-500.
        default: 100
        minimum: 1
        maximum: 500
        order: 5
      youtrack_activities_page_size:
        type: integer
        title: Activities Page Size
        description: Page size ($top) for /api/issues/{id}/activitiesPage cursor pagination (feature 2.3). Default 200, range 1-500.
        default: 200
        minimum: 1
        maximum: 500
        order: 6
    additionalProperties: true
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 3
metadata:
  autoImportSchema:
    youtrack_projects: false
    youtrack_user: false
    youtrack_agiles: false
    youtrack_sprints: false
    youtrack_issue_link_types: false
    youtrack_issue: false
    youtrack_issue_history: false
    youtrack_comments: false
    youtrack_worklogs: false
    youtrack_project_custom_fields: false
